html,
body {
    background-color: #333;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('./image/blue-blackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgb(0 0 0 / 50%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.no-margin {
    margin: 0px;
}

.form-input {
    width: 400px;
    background-color: transparent;
    padding: 16px 0px;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    color: #f7f7f7;
    outline: none;
}

.form-input::-webkit-input-placeholder {
    color: #b3b3b3;
}

.form-input:-moz-placeholder {
    color: #b3b3b3;
}

.form-input::-moz-placeholder {
    color: #b3b3b3;
}

.form-input:-ms-input-placeholder {
    color: #b3b3b3;
}

.input-checkbox {
    display: none;
}

/* 
Para consultar os tipos de seletores, verificar a documentação:
https://www.w3schools.com/cssref/css_selectors.php 
*/

.input-checkbox:checked~.fake-checkbox .check {
    display: block;
}

.label-checkbox {
    color: #b3b3b3;
    display: flex;
    user-select: none;
}

.fake-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.check {
    display: none;
}